*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg,#00c6ff,#1864c1);
    display: flex;
    justify-content: center;
    align-items: center;
}


.login_form_container{
    position: relative;
    width: 350px;
    background: #111;
    padding: 30px;
    border-radius: 15px;
    overflow: hidden;
}




@keyframes slideDown{
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.login_form h2{
    color: #00c6ff;
    text-align: center;
    margin-bottom: 25px;
}

.input_group{
    display: flex;
    align-items: center;
    background: #222;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 10px;
}

.input_group i{
    color: #00c6ff;
    margin-right: 10px;
}

.input_text{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 15px;
}

.button_group{
    margin-top: 5px;
    background: #00c6ff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

button
{
    border: none;
    background: #00c6ff;
    width: 100%;
    font-weight: bold;
}

.button_group:hover{
    background: #0072ff;
}

.button_group a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.footer a{
    color: #aaa;
    font-size: 13px;
    text-decoration: none;
}

.footer a:hover{
    color: #00c6ff;
}




.login_form_container::before{
    content: "";
    position: absolute;
    inset: -6px;              /* border size वाढवला */
    border-radius: 22px;
    background: linear-gradient(
        90deg,
        transparent,
        #ff9f1c,
        #ff5f6d,
        #ff9f1c,
        transparent
    );
    animation: borderMove 3s linear infinite;
}

/* inner mask */
.login_form_container::after{
    content: "";
    position: absolute;
    inset: 6px;               /* same as border size */
    background: #111;
    border-radius: 14px;
    z-index: 1;
}

.login_form{
    position: relative;
    z-index: 2;
}

@keyframes borderMove{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


    @media (max-width: 480px)
{
    
    .card
    {
        width: 95%;
        margin-right:65vh;
       
    }

    .input_group,.button_group
    {
        width: 90%;

    }
    .login_form
    {
        margin-left: 15px;
    }
    
}

   
}


