body{
    margin: 0px;
    padding: 0px;
    background-color: #0A1828;

}

.reg-div
{
    margin-top: 250px;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    background-color: #D8125B;
}

#user,#pass
{
    margin-left: 15px;
    margin-top: 20px;
}

#Register{
    margin-left: 300px;
    margin-top: 80px;
    border-radius: 5px;
    background-color: #957C3D;
    font-weight: bold;
}

h2{
    margin-left: 150px;
    width: 90px;
}



@media (max-width: 480px)
{
    body
    {
        background-color: #0A1828;
    }
    .reg-div
    {
        width: 95%;
        border-radius: 20px;
        margin-top: 5vh;
        margin-left: 10px;
        background-color: #D8125B;
        
    }
    
    .child
    {
        margin-left: 20px;
        width: 70%;
    }
    #user,#pass
    {
        margin-left: 25px;
        margin-top: 15px;
    }

    #Register
    {
        margin-left: 100px;
        margin-top: 50px;
        border-radius: 5px;
        background-color: #957C3D;
        font-weight: bold;
    }

    h2
    {
        margin-left: 75px;
        color: #F0F0F0;
        width: 90px;

    }
}


@media (min-width: 481px) and (max-width: 768px) 
{
    body
    {
        background-color: #0A1828;
    }
    .reg-div
    {
        width: 95%;
        border-radius: 20px;
        margin-top: 10vh;
        margin-left: 10px;
        background-color: #D8125B;
        
    }
    


        .child
        {
            flex-direction: column;
            margin-left: 0px;
            width: 70%;
        }

        .child1
        {
            display: flex;
            justify-content: center;
            margin-left: 85px;
        }

    #user,#pass
    {
        margin-left: 25px;
        margin-top: 15px;
    }

    #Register
    {
        margin-left: 200px;
        margin-top: 50px;
        border-radius: 5px;
        background-color: #957C3D;
        font-weight: bold;
    }

    h2
    {
        margin-left:200px;
        color: #F0F0F0;
        width: 90px;
    }
}

@media (min-width:769px) 
{
    
    .reg-div
    {   
        margin-left: 500px;
    }
}
    

