body{
    margin: 0px;
    padding: 0px;
}

.reg-div
{
    margin-top: 250px;
    margin-left: 500px;
    width: 400px;
    height: 200px;
    background-color: rgb(53, 50, 50);
    color: rgb(186, 32, 119);
}

#user,#pass
{
    margin-left: 15px;
}

#Register{
    margin-left: 300px;
    margin-top: 100px;
}

h2{
    margin-left: 150px;
    background-color: aqua;
    width: 90px;
}
